/*fonte da ana*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.header-adocao {
    background-color: #ffffff86;
    padding: 15px 0;
    border-bottom: 2px solid #f0f0f0;
}


.logo-area {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heart-icon {
    color: #ff5a94; 
    font-size: 32px;
    position: relative;
    margin-right: 10px;
}

.paw-inside {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-text {
    font-family: 'Fredoka One', cursive;
    font-size: 32px;
    letter-spacing: 1px;
    margin-left: 12px;
    
    background: linear-gradient(90deg, #ff5a94, #ff8c00); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    
    background-clip: text;
    color: transparent;
    
}

.icons-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagem-patinha {
    filter: sepia(100%) saturate(500%) hue-rotate(10deg); 
}
.logo-patinha {
    color: #FF8C00;
    font-size: 24px;
    margin-left: 10px;
   

}


.menu-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-circle i {
    font-size: 20px;
    color: #000;
}

/* copiei do css da ana pra ficar igual */


.logo-link{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: inherit;

    cursor: pointer;
}


/*formulario*/
.file {
    max-width: 600px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h2 img {
    width: 50px;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
}

label {
    font-size: 1.0rem;
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input:focus, textarea:focus {
    border-color: #ff5a94;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 90, 148, 0.3);
}

input[type="file"] {
    border: none;
}

button {
    margin-top: 18px;
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #ff5a94, #ff8c00);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.preview {
    text-align: center;
    margin-top: 10px;
}

.preview img {
    max-width: 100%;
    border-radius: 10px;
}